{% extends 'hospital/homebase.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello,Admin</h1>
  <p class="lead">Welcome to Maternity Care System.</p>
  <hr class="my-4">
  <p>Login into your account to access various features .</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/adminsignup" role="button">SignUp</a>
    <a class="btn btn-primary btn-lg" href="/adminlogin" role="button">Login</a>
  </p>
  <p>
    New user?Sign up 
  </p>
</div>

{% endblock content %}
